# Dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*

# Testing
frontend/coverage/

# Next.js
frontend/.next/
frontend/out/

# Production
frontend/build/

# Misc
.DS_Store
*.pem

# Debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Local env files
frontend/.env*

# Vercel
frontend/.vercel

# TypeScript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db