.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  ion-card {
    max-width: 400px;
    width: 100%;
    
    h1 {
      font-size: 2.5rem;
      margin: 0;
    }

    p {
      margin: 0.5rem 0 0 0;
      font-size: 1rem;
      color: var(--ion-color-medium);
    }
  }

  .demo-info {
    font-size: 0.85rem;
    line-height: 1.6;
  }

  ion-item {
    margin-bottom: 1rem;
  }
}
