.editableInputContainer {
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.editButton {
  position: absolute;
  right: 1rem;
  top: 16px;
  z-index: 5;
}

.editActions {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 12px;
  z-index: 5;
}
